* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: aqua;
}

.container {
  max-width: 1140px;
  /* background-color: rgb(95, 55, 55); */
  margin: 0 auto;
}

.section__wrapper {
  width: 100%;
  background-color: #FFFFFF;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.menu {
  display: flex;
  width: 573px;
  justify-content: space-between;
}

.item {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;

  text-transform: uppercase;

  list-style-type: none;

  color: #030D15;
}

.basket {
  display: flex;
  align-items: center;
}

.search {
  margin-right: 30px;
}

.user {
  margin-left: 24px;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #666;
}


/* -------Hero area--------- */

.hero__area {
  margin-top: 54px;

}

.hero__area .container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.colonka {
  position: absolute;
  z-index: 0;

  width: 643px;
  height: 611px;
  right: -86px;

}

.info {
  margin-top: 75px;
  z-index: 1;
}

.alert {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: 0.145em;
  text-transform: uppercase;

  color: #C72535;
}

h1 {
  font-weight: 400;
  font-size: 61px;
  line-height: 73px;
  /* or 120% */

  color: #030D15;
}

span {
  font-weight: 600;
/* c8e3f8 */
  color: #247CC0;
  background-color: rgba(36, 124, 192, 0.1);
}

.text {
  margin-top: 29px;

  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* or 135% */


  color: #030D15;
}

.shop__btn {
  width: 151px;
  height: 58px;

  margin-top: 36px;

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  text-transform: uppercase;

  color: #FFFFFF;
  background: #247CC0;

  border: 0;
}

.banner {
  margin-top: 73px;
  width: 100%;
  height: 237px;

  z-index: 1;

  background-color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
  border-radius: 0px;
}

.banner__items {
  display: flex;
  justify-content: space-between;
  width: 79%;
  height: auto;
}




/* Footer */

.foot {
  background: #000;
  height: 396px;
}

.footer__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item__name{
  color: #FFFFFF;
  text-transform: uppercase;

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.footer__info{
  margin-top: 26px;

  font-weight: 400;
  font-size: 14px;
  line-height: 23px;

  color: #FFFFFF;
  
  opacity: 0.6;
  
  list-style-type: none;
}

.footer__info li{
  margin-bottom: 15px;
}
