* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
}

.container {
  max-width: 1140px;
  /* background-color: #666; */

  /* background-color: rgb(95, 55, 55); */
  margin: 0 auto;
}

.section__wrapper {
  width: 100%;
  /* background-color: #FFFFFF; */
  overflow-x: hidden;
}

/*------------- header -------------*/

.main-menu {
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.item {
  margin: 0 20px;

  list-style-type: none;

  text-transform: uppercase;
  color: #030D15;
}

.basket {
  display: flex;
  align-items: center;
}

.search {
  margin-right: 30px;
}

.user {
  margin-left: 24px;
}

.item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #666;
}


/*------------- Hero area -------------*/

.hero__area {
  margin-top: 54px;
}

.hero__area .container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.colonka {
  position: absolute;
  z-index: 0;

  width: 56%;
  right: -86px;
}

.info {
  margin-top: 75px;
  z-index: 1;
  width: 48%;
}

.alert {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: 0.145em;
  text-transform: uppercase;

  color: #C72535;
  opacity: 0.6;
}

h1 {
  font-weight: 400;
  font-size: 61px;
  line-height: 73px;

  color: #030D15;
}

span {
  font-weight: 600;
  line-height: normal;
  
  color: #247CC0;
  background-color: rgba(36, 124, 192, 0.1);
}

.text {
  margin-top: 29px;

  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #030D15;
}

.shop__btn {
  min-width: 151px;
  height: 58px;

  margin-top: 36px;

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;

  text-transform: uppercase;

  color: #FFFFFF;
  background: #247CC0;

  border: 0;
}

.banner {
  margin-top: 73px;
  margin-bottom: 130px;

  width: 100%;
  height: 237px;

  padding: 6% 10% 6% 10%;

  position: relative;
  /* z-index: 10; */

  background-color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
  border-radius: 0px;
}

.banner__items {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
}

.banner__item {
  width: 18%;
}

.banner__item img{
  width: 100%;
}

/*------------- cards__area -------------*/

.cards__area {
  /* margin-top: 130px; */
  width: 100%;
} 


.area__title .alert,
.area__title .discript,
.title__name {
  text-align: center;
}

.discript {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  
  color: #030D15;
  opacity: 0.6;
}

.title__name {
  font-weight: 600;
  font-size: 44px;
  line-height: 71px;
}

.tech__cards {
  width: 100%;
  height: 816px;

  margin-top: 50px;

  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 30px;
}

.tech__cards div{
  display: flex;
  align-items: center;
  justify-content: center;

  background: #FFFFFF;

  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tech__img1 {
  grid-column: 1/5;
  grid-row: 1/6;
}

.tech__img2 {
  grid-column: 5/9;
  grid-row: 1/5;

  background-size: cover;
  background-position: center;
}

.tech__img3 {
  grid-column: 9/-1;
  grid-row: 1/8;

  background-size: cover;
  background-position: center;
}

.tech__img4 {
  grid-column: 1/5;
  grid-row: 6/-1;
  
  background-size: cover;
  background-position: center;
}

.tech__img5 {
  grid-column: 5/9;
  grid-row: 5/9;

  background-size: cover;
  background-position: center;
}

.tech__img6 {
  grid-column: 9/-1;
  grid-row: 8/-1;

  background-size: cover;
  background-position: center;
}

.tech__img7 {
  grid-column: 5/9;
  grid-row: 9/-1;

  background-size: cover;
  background-position: center;
}

.tech__img2,
.tech__img3,
.tech__img4,
.tech__img7{
  padding: 20px;
}

.tech__img1 img,
.tech__img2 img,
.tech__img3 img,
.tech__img4 img,
.tech__img5 img,
.tech__img6 img,
.tech__img7 img {
  height: 100%;
  width: 100%;
}

.tech__img1:hover,
.tech__img2:hover,
.tech__img3:hover,
.tech__img4:hover,
.tech__img5:hover,
.tech__img6:hover,
.tech__img7:hover {
  box-shadow: 0px 100px 80px rgba(192, 192, 192, 0.07), 0px 41.7776px 33.4221px rgba(192, 192, 192, 0.0503198), 0px 22.3363px 17.869px rgba(192, 192, 192, 0.0417275), 0px 12.5216px 10.0172px rgba(192, 192, 192, 0.035), 0px 6.6501px 5.32008px rgba(192, 192, 192, 0.0282725), 0px 2.76726px 2.21381px rgba(192, 192, 192, 0.0196802);
}

/*------------- user contact -------------*/

.user__contact {
  height: 310px;
  margin-top: 130px;

  background-color: #F4F9FC;
}

.contact__sub {
  min-height: 310px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact .discript {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.contact h3{
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
}

.contact {
  width: 32%;
}

.subscribe {
  width: 42%;
}

.subscribe form{
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sub__mail {
  height: 100%;
  width: 73%;
}

.sub__btn {
  height: 100%;
  width: 27%;

  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;

  color: #FFFFFF;
  background: #247CC0;
  border: 0;
}


input[type=text] {
  width: 100%;

  padding-left: 26px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #030D15;
  opacity: 0.4;
}

/*------------- Footer -------------*/

.foot {
  background-color: #000;
  min-height: 396px;
}

.about {
  margin-top: 5px;
  width: 23%;
}

.footer__items {
  padding-top: 75px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item__name{
  color: #FFFFFF;
  text-transform: uppercase;

  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.footer__info{
  margin-top: 26px;

  font-weight: 400;
  font-size: 14px;
  line-height: 23px;

  color: #FFFFFF;
  
  opacity: 0.6;
  
  list-style-type: none;
}

.footer__info li{
  margin-bottom: 15px;
}

.footer__link {
  margin-top: 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  
  color: #FFFFFF; 
}

.links {
  margin-top: 16px;

  width: 70%;

  display: flex;
  justify-content: space-between;

}

.lang { 
  margin-top: 52px;

  width: 30%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lang__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  
  color: #FFFFFF;
}





@media (max-width:1200px) {
  .container {
    max-width: 970px;
  }

  /*------------- header -------------*/
  .item {
    margin: 0 10px;
  }

  .tech__cards {
    height: 716px;
  }

  /*------------- banner -------------*/
  .hero__area{
    margin-top: 0;
  }

  .colonka {
    top: 40px;
    right: -20px;
  }

  .banner {
    margin-top: 0;
    height: 180px;
  }
}

@media (max-width:992px) {

  .container {
    max-width: 750px;
  }

  /*------------- banner -------------*/

  .info h1{
    font-size: 40px;
    line-height: 40px;
  }

  .info .text,
  .shop__btn {
    margin-top: 10px;
  }

  .banner {
    height: 150px;
    padding: 0 10px 0 10px;
    margin-bottom: 80px;
  }

  .banner__item {
    width: 20%;
  }

  /*------------- cards -------------*/
  .tech__cards {
    height: 556px;
  }
}

@media (max-width:767px) {
  .container {
    max-width: none;
    padding: 0 10px 0 10px;
  }

  .colonka {
    width: 0;
  }
  
  .info {
    width: 100%;
  }

  .tech__cards {
    height: 1500px;
    grid-gap: 10px;
    
  }

  .tech__img1 {
    grid-column: 1/7;
    grid-row: 1/4;
  }
  
  .tech__img2 {
    grid-column: 7/-1;
    grid-row: 1/4;
  }
  
  .tech__img3 {
    grid-column: 1/6;
    grid-row: 4/7;
  }
  
  .tech__img4 {
    grid-column: 1/7;
    grid-row: 7/11;
  }
  
  .tech__img5 {
    grid-column: 6/-1;
    grid-row: 4/7;
  }
  
  .tech__img6 {
    grid-column: 7/-1;
    grid-row: 7/11;
  }
  
  .tech__img7 {
    grid-column: 4/10;
    grid-row: 11/-1;
  }

  .contact__sub {
    flex-direction: column;
    justify-content: space-around;
  }

  .contact {
    width: 100%;
  }

  .subscribe {
    width: 100%;
  }
}


@media (max-width:500px) {

  .tech__cards {
    height: 1500px;
  }

  .tech__img1 {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  
  .tech__img2 {
    grid-column: 1/-1;
    grid-row: 2/4;

    padding: 0;
  }
  
  .tech__img2 img {
    width: auto;
    height: 100%;
  }
  
  .tech__img3 {
    grid-column: 1/-1;
    grid-row: 4/7;

    padding: 0;
  }

  .tech__img3 img {
    width: auto;
    height: 100%;
  }

  .tech__img4 {
    grid-column: 1/-1;
    grid-row: 9/10;
  }

  .tech__img4 img{
    width: auto;
    height: 100%;
  }
  
  .tech__img5 {
    grid-column: 1/-1;
    grid-row: 7/9;
  }

  .tech__img5 img {
    width: auto;
    height: 100%;
  }
  
  .tech__img6 {
    grid-column: 1/-1;
    grid-row: 10/12;
  }
  
  .tech__img6 img{
    width: auto;
    height: 100%;
  }

  .tech__img7 {
    grid-column: 1/-1;
    grid-row: 12/-1;
  }
}

